.editor {
    background: var(--clr5);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;

}


.canvas-container {
    padding-block-start: 24px;
    padding-block-end: 24px;
    width: 100%;

}

canvas {
    display: block;
    margin: 0 auto;
    outline: 1px solid black;
    background-color: white;
    border-radius: 15px;
}

.editor a {
    color: var(--clr2);
    margin-block-end: 30px;
}

.control-box {

    width: 100%;
    padding: 0 30px;
    background-color: white;
    border-radius: 25px;
}


.control-box-text img {
    width: 20px;

}


.meme-card {
    position: relative;
}

.meme-card button {
    position: absolute;
}



.emojis {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    grid-auto-flow: dense;
    margin: 0 auto;
    gap: 30px;
}

.emoji {
    font-size: 50px;
}

.editor-text-control {
    background-color: var(--clr5);
    border-radius: 25px;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));

    grid-auto-flow: dense;
    gap: 20px;
    height: 10vh;
    margin: 0 auto;
}

.control-box-colors {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.editor-special-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;

}

.editor-special-btns a {
    margin: 10px 0;
    text-decoration: none;
}



@media (max-width: 1060px) {

    .editor {
        display: flex;
        flex-direction: column;
    }

    .canvas-container {
        /* padding-block-start: 24px;
        padding-block-end: 24px; */
        margin: 0 auto;
        width: 70%;


    }

    canvas {
        position: relative;
    }

    .control-box {
        padding: 0 10%;
    }
    
}


@media (max-width: 680px) {
    
    .canvas-container {
        width: 70%;
        margin: 0 auto;


    }

    canvas {
        position: relative;
    }

    .control-box {
        padding: 0 10%;
    }
    .control-box{
        padding-bottom: 50px;
    }
}