
header{
    background: #FFFFFF;
    height: 50px ;
    


}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul{
    place-content:center end;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    gap: 50px;
    place-content: center center;
    
}

li a{
    text-decoration: none;
    color: var(--clr2)
}

li a:hover{
    color: var(--clr3);
}



.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
