@import "./header.css";
@import "./gallery.css";
@import "./canvas.css";
@import "./editor.css";
@import "./search.css";


/* vars */

:root {
  /* pallete */
  /* header color */
  --clr0: #292929;
  /* headline text color */
  --clr1: #727272;
  /* paragraph color */
  --clr2: #989898;
  /* paragraph color */
  --clr3: #FF9826;
  /* bg color */
  --clr4: #F8F8F8;
  /* second bg color */
  --clr5: #FFFFFF;


  /* bp */

  --l: 980px;

}



body {
  margin: 0;
  background: var(--clr4);
}

.main-layout>*:not(.full) {
  /* max-width: 980px; */
  max-width: var(--l);
  margin-left: auto;
  margin-right: auto;
}


img {
  width: 100%;
}


.display {
  display: none;
}