.seacrh-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.search {
    background-color: var(--clr5);
    height: 42px;
    border-radius: 80px;
    display: flex;
    padding-left: 10px;
    color: var(--clr2);
    align-self: center;

}


.search input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    width: 100%;

}


.search input:focus-visible {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    outline: 0px solid crimson;


}

.search-words {
    margin: 0 1rem;
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: 1fr;
    align-content: center;
    gap: 10px;
}


.search-words p {
    cursor: pointer;
    position: relative;
}






@media (max-width: 680px) {
    .seacrh-container {
        position: relative;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
    }

    .flex-back {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 50px 0;
    }
    .flex-back button{
        margin-top: 20px;        

    }
    .search{
        width: 70%;
    }
    
  

    
    
    
}